*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 33px;
    background-color: #fc2779;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 17px;
}
.left  span{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
}

.right span{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;

}
nav{
    width: 100%;
    height: 66px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px


}
.leftnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;


}
.rightnav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;

}

.leftnav h2{
    font-size: 30px;
    font-style: italic;
    color: #fc2779;
    font-weight: bold;
    margin-right: 36px;

}
.leftnav span{
    font-family: sans-serif;
    font-weight: bold;

}
.search input{
    padding:  14px 31px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    background-color: lightgray;
}

.button button{
    letter-spacing: 0.1px;
    border-radius: 8px;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #E80071;
    color: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}
.featuresec{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.feature{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    color: rgba(3, 2, 26, 0.6);
    font-size: 17px;
}
.secontainer{
    width: 100%;
    height: 544px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border: none;
}

.img img{
    width: 445px;
    height: 504px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.arrowsliderright{
    position: absolute;
    top: 56%;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid lightgray;

}


.arrowsliderright span{
    font-size: 29px;
}
.arrowsliderleft{
    position: absolute;
    top: 56%;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid lightgray;

}

.arrowsliderleft span{
    font-size: 29px;
}

.thirdsec{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec{
    width: 222px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secimg img{
    width: 100%;
    height: 66px;
}
